body {
    font-family: Pona,Georgia,Times,Serif;
    background-color: rgb(83, 83, 83);
}
.titlePageBackground {
    /* height: 500px; */
    background: url("../images/photo4.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: calc(100vh + 20px);
    overflow-x:hidden;
    background-position: center;
    /* background-position: 50% 50%; */

}
.titleImage {
    position: static;
    z-index: 2 !important;
    margin-left: 30%;
    /* margin-top: -50%; */
    
}
.columns {
    padding-right: .5rem;
    padding-left: .5rem;
}
a {
    color: white !important;
}
.forDivThree,
.forDivTwo,
.forDivOne,
.mapDiv {
    border-style: solid;
    border-width: 4px;
    border-color: rgb(187, 81, 10);
    border-radius: 8px;
    background: rgba(211, 129, 52, 0.3);
}
@media (min-width: 300px) {
    .titlePageBackground {
    background-position: 90% 50%;
    }
    .forNav {
        visibility: hidden;
        position: absolute;
        z-index: 0;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .titlePageBackground {
    background-position: 90% 50%;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .titlePageBackground {
    background-position: center;
    }
    .columns {
        padding-right: .8rem;
        padding-left: .8rem;
    }
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}

@media (min-width: 1400px) {
    .forNav {
        visibility: visible;
    }
}